body {
	font-family: Lato, sans-serif;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

#wrapper {
	width: 940px;
	padding: 0 10px;
	margin: 100px auto 0;
	overflow: hidden;
}

div.left {
	float: left;
	width: 220px;
	margin-right: 78px;
}

div.left a:hover {
	text-decoration: underline;
}

.logo {
	background: url(../img/logo.png) no-repeat center;
	width: 100%;
	height: 71px;
	text-indent: -9999px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.hello_copy {
	line-height: 1.75;
}

.hello_copy p {
	margin-bottom: 20px;
}

.hello_copy .twitter {
	color: #4099ff;
}

.hello_copy .dribbble {
	color: #EA4C88;
}

.hello_copy .portfolio {
	color: #d4cb99;
}

.hello_copy .email {
	color: blue;
}

div.right {
	float: left;
}

.article {
	display: block;
	position: relative;
	border: 1px solid #ddd;
	margin-bottom: 40px;
	position: relative;
	width: 638px;
	height: 298px;
	overflow: hidden;
}

.metadata {
	background: #444;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	color: white;
	font-size: 32px;
	-webkit-box-shadow: inset -3px 3px 5px #333;
	box-shadow: inset -3px 3px 5px #333;
}

.metadata .date {
	font-size: 16px;
	color: #ddd;
}

img.thumb {
	background: #eee;
	width: inherit;
	height: inherit;
	position: absolute;
}


.bits_container {
	padding: 20px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-align: center;
	font-size: 24px;
}