RewriteEngine On

# RewriteBase /

# Ignore everything in app/
RewriteCond %{REQUEST_URI} !^/(app)/

# This should allow files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# All other URLs go to to index.php/URL
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]