body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

#wrapper {
	width: 940px;
	padding: 0 10px;
	margin: 100px auto 0;
	overflow: hidden;
}

div.left {
	float: left;
	width: 220px;
	margin-right: 78px;
}

div.left a:hover {
	text-decoration: underline;
}

.logo {
	background: url('../img/logo.png') no-repeat center;
	width: 100%;
	height: 71px;
	text-indent: -9999px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.hello_copy {
	line-height: 1.75;
}

.hello_copy p {
	margin-bottom: 20px;
}

.hello_copy .twitter {
	color: #4099ff;
}

.hello_copy .dribbble {
	color: #EA4C88;
}

.hello_copy .portfolio {
	color: #92BAC6;
}

.hello_copy .email {
	color: blue;
}

div.right {
	float: left;
	width: 640px;
}

.row {
	overflow: hidden;
}

.article {
	display: block;
	position: relative;
	margin-bottom: 40px;
	position: relative;
	width: 640px;
	height: 300px;
	overflow: hidden;
}

.article.small {
	width: 300px;
	height: 141px;
}

.article.small.left {
	float: left
}

.article.small.right {
	float: right;
}

.metadata {
	background: #444;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	color: white;
	font-size: 32px;
	-webkit-box-shadow: inset -3px 3px 5px #333;
	box-shadow: inset -3px 3px 5px #333;
}

.article.small .metadata {
	font-size: 16px;
}

.metadata .date {
	font-size: 16px;
	color: #ddd;
}

.article.small .date {
	font-size: 12px;
}

img.thumb {
	background: #eee;
	width: inherit;
	height: inherit;
	position: absolute;
}


.bits_container {
	padding: 20px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
	font-weight: 600;
}

.bits_container .pagination {
	float: left;
	cursor: pointer;
	width: 20px;
}

.bits_container .pagination::selection {
	background: transparent;
}

.bits_container .current_bit {
	width: 600px;
	float: left;
	text-align: center;
}

.bits_container .next {
	float: right;
}


.current_bit a:hover {
	text-decoration: underline;
}

.current_bit a.loading {
	background: url('../img/ajax-loader.gif') no-repeat center;
	display: block;
	width: 16px;
	height: 11px;
    margin: 0 auto;
    position: relative;
    top: 6px;
}