<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link type="text/css" rel="stylesheet" href="http://dev.jedmund.com/layout/asterism/css/reset.css" />
		<link type="text/css" rel="stylesheet" href="http://dev.jedmund.com/layout/asterism/css/style.css" />
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://use.typekit.com/moh8peo.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
    	<div id="fb-root"></div>
        <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        
		<div id="wrapper">
			{% block header %}{% endblock %}			
            {% block content %}{% endblock %}

         </div>
		<script type="text/javascript"></script>
    </body>
</html>