<header>				
    <a href="/home">
    	<h1 id="title">
    		<span class="front">the works of </span>
    		<span class="back">justin edmund</span>
    	</h1>
    </a>
    
    <nav>
    	<ul>
    		<li class="inline">
    			<a href="{ site's about }">about</a>
    		</li>
    		<span class="inline separator">&nbsp;&#183;&nbsp;</span>
    		
    		<li class="inline">
    			<a href="http://blog.jedmund.com/">blog</a>
    		</li>
    		<span class="inline separator">&nbsp;&#183;&nbsp;</span>
    		
    		<li class="inline">
    			<a href="/projects">works</a>
    		</li>
    		
    		<!--
    			<span class="separator">/</span>
    			<li>
    				<a href="/contact">contact</a>
    			</li>
    		 -->
    	</ul>
    </nav>
</header>
