<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		
		<link type="text/css" rel="stylesheet" href="css/reset.css" />
		<link type="text/css" rel="stylesheet" href="css/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>	</head>
	<body>
    	<div id="fb-root"></div>
        <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        
		<div id="wrapper">
		
			<div class="left">
			
				<h1 class="logo">What Brent Say</h1>
				
				<div class="hello_copy">
					
					<p>I'm Brent Meyer, a geek, technophile, web designer, and developer. This is where I write. It's experimental, raw, and evolving right now, but stick around if you enjoy what you see.</p>
					
					<p>You should <a class="twitter" href="http://twitter.com/brentmeyer">follow me on twitter</a> if you like what I say. Feel free to keep up with <a class="dribbble" href="http://dribbble.com/brentmeyer">what I'm working on dribbble</a>, too. You can take a look at <a class="portfolio" href="http://brentmeyer.is">some of my work</a> or <a class="email" href="mailto:brent@brentemeyer.com">email me</a> if you just want to say hi.</p>
					
				</div><!-- END .hello_copy -->
								
			</div><!-- END .left -->
			
            {% block content %}{% endblock %}
        </div>
        
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-15909605-2']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</body>
</html>