body {
	font-family: Poly, Georgia, Times, sans-serif;
	font-size: 24px;
	color: #aaa;
	line-height: 1.5;
}

::selection {
	background: #777;
	color: #fff;
}

#wrapper {
	width: 960px;
}

.main {
	margin-top: 100px;
}

.main p, .photo.section {
	margin-bottom: 60px;
}

.text.section {
	padding: 0 250px;
}

.text.section em {
	font-style: italic;
}

.photo.section {
	overflow: hidden;
}

.photo.section img, .photo.section .caption {
	float: left;
}

.caption {
	width: 230px;
	font-size: 20px;
	font-style: italic;
	padding-left: 20px;
	margin-top: 40px;
	letter-spacing: 1px;
}