{% extends "base.html" %}

{% block head %}
		
		<link rel="stylesheet" type="text/css" href="public/css/reset.css" />
		<link rel="stylesheet" media="screen" type="text/css" href="public/css/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
				
{% endblock %}

{% block content %}
	
		<div id="wrapper">
			
			<div class="header">
				
				<div class="inner">
				
					<h1 class="logo">{{ settings.siteTitle }}</h1>
				
				</div><!-- END .inner -->
				
			</div><!-- END .header -->
			
			{% for post in allPosts %}
			
			{% if post.type == 'bits' %}
			
			<div class="post bit">
			
				<div class="inner">
					
					<h2><a href="{{ post.dir }}">{{ post.title }}</a></h2>
					<h3 class="date">{{ post.date }}</h3>
					
				</div>
			
			</div><!-- END .post.bit -->
			
			{% else %}
			
			<div class="post article">
			
				<a class="inner" href="{{ post.dir }}">
				
					<div class="metadata">
						<h2 class="title">{{ post.title }}</h2>
						<h3 class="date">{{ post.date }}</h3>
					</div><!-- END .metadata -->
					
					<img class="thumb" src="{{ post.thumbnail }}" />
				
				</a><!-- END .inner -->
			
			</div><!-- END .post.article -->
			
			{% endif %}
			
			{% endfor %}
			
		</div><!-- END #wrapper -->
		
{% endblock %}
		
{% block js %}
		
		<script type="text/javascript" src="public/js/jquery.color.js"></script>
		<script type="text/javascript" src="public/js/colorize.js"></script>
		<script type="text/javascript" src="public/js/site.js"></script>
		
{% endblock %}